body {
    background-color: darkgray;
    color: black;
    text-align: center;
}

button {
    height: 50px;
    width: 75px;
    font-weight: bold;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
  }

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#purple {
    background-color: purple;
}

#orange {
    background-color: orange;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}