body {
    text-align: center;
}

button {
    height: 50px;
    width: 75px;
    font-weight: bold;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#purple {
    background-color: purple;
}

#orange {
    background-color: orange;
}